@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p>Sisgim es una aplicación web que permite gestionar los préstamos individuales de instrumentos musicales para el departamento de artes musicales del establecimiento educacional Liceo Pablo Neruda de la ciudad de Temuco. </p>
