@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>SISGIM</h1>
    <p class="lead">Sistema de Gestion de Instrumentos Musicales</p>
    <img src="@Url.Content("~/Images/violin.jpg")" class="img-responsive" alt="Imagen responsive" /> 
</div>